@{
    ViewData["Title"] = "Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <link href="~/~/css/anasayfa.css" rel="stylesheet" type="text/css" />
<div id="stn" class="col-sm-5">
    <div id="ttlrow" class=row>
        <p style="color:white;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 19px;font-weight: 800;line-height:25px;margin-left: 2rem;margin-top:1rem;">Bildirimler</p>
    </div>
    <div class="row" id="w">
        <ul class="nav nav-tabs-fluid" id="tbs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#">Tümü</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#">Bahsedenler</a>
            </li>
        </ul>
    </div>


</div>

