
@{
    ViewData["Title"] = "UserExplore";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link rel="stylesheet" href="~/css/kesfet.css">

<div class="col-sm-5" style="border-left: 1px groove #a5a9ac;
        border-right: 1px groove #a5a9ac;padding-left: 0;padding-right: 0;margin-top:0;">
    <div id="ttlrow" class=row>
        <p style="color:white;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 19px;font-weight: 800;line-height:25px;margin-left: 3rem;margin-top:1rem;">Keşfet</p>
        <i class="fas fa-cog" style="font-size:24px;color:#1DA1F2;margin-left: 52rem;margin-top: 1rem;"></i>
    </div>
    <div class="img">
        <img class="img-fluid" alt="" src="~/img/maske.jpg" style="width:70.2em !important;margin-right:15px !important;">
        <div class="text-block">

            <p style="font-size: 13px;line-height: 17px;font-weight: 400;">Kovid-19 CANLI</p>
            <p style="font-size: 23px;line-height: 30px;font-weight: 800;">Türkiye'de Kovid-19 ile ilgili canlı gelişmeler</p>
        </div>
    </div>
    <div id="space" class="row-fluid" style="background-color:#253341;height:10px;"></div>
    <h3 class="panel-title" style="color:white;">
        <strong>İlgini çekebilecek gündemler</strong>
        <!-- <small><a href="#">Refresh</a> ● <a href="#">View all</a></small> -->
    </h3>
    <div class="media">
        <div class="media-body" id="ilgi">
            <p style="font-size: 13px;">Türkiye tarihinde gündemde</p>
            <h4 class="media-heading">#DolarınSaltanatıYıkılıyor</h4>
            <p style="font-size: 15px;">Gündem konusu: Dolar 7.15, #DolarTL</p>
        </div>
    </div>
    <div class="media">
        <div class="media-body" id="ilgi">
            <p style="font-size: 13px;">Türkiye tarihinde gündemde</p>
            <h4 class="media-heading">#TemmuzlarBizimdir</h4>
            <p style="font-size: 15px;">1.730 Tweet</p>
        </div>
    </div>
    <div class="media">
        <div class="media-body" id="ilgi">
            <p style="font-size: 13px;">Türkiye tarihinde gündemde</p>
            <h4 class="media-heading">#ÇaycıHüseyin</h4>
            <p style="font-size: 15px;">Gündem konusu: Galatasaray, #süperlig</p>
        </div>
    </div>
    <div class="media">
        <div class="media-body" id="ilgi">
            <p style="font-size: 13px;">Türkiye tarihinde gündemde</p>
            <h4 class="media-heading">16 Temmuz'da</h4>
            <p style="font-size: 15px;">Gündem konusu: Hüseyin İnan</p>
        </div>
    </div>
    <div class="media">
        <div class="media-body" id="ilgi">
            <p style="font-size: 13px;">Türkiye tarihinde gündemde</p>
            <h4 class="media-heading">Fatih Tezcan</h4>
            <p style="font-size: 15px;">Gündem konusu: Dolar 7.15, #DolarTL</p>
        </div>
    </div>
</div>



